# start_pakistan_correlations
## HWFL_computeCorrel.ipynb
This script computes correlation between the Pakistan HW and FL systems, using the data on the triggers per year which has already been computed via the codes "HW_calcTriggers.ipynb" and "FL_calcTriggers.ipynb". It compares the 19 year historical HW record with a 19 year record of FL triggers, derived via the YLY (and so we repeat for many iterations of the FL record and take an average of the ensemble result).

In [31]:
from pathlib import Path
import os
import sys
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import date, timedelta
import matplotlib.pyplot as plt
from scipy.stats.stats import pearsonr

C:\Users\alexa\AppData\Local\Temp\ipykernel_19712\4234477562.py:9: DeprecationWarning: Please use `pearsonr` from the `scipy.stats` namespace, the `scipy.stats.stats` namespace is deprecated.
  from scipy.stats.stats import pearsonr

In [2]:
# Set the root path
rootPath = Path('C:/Users/alexa/Documents/02_work/02_start/02_deliv/05_pk_correlation/')

## Get the HW and FL data on n triggers per year

In [15]:
nyears=19
flPath = rootPath/'fl/data/realisations'
flData = pd.read_csv(flPath/('realisationsTriggersMax1_'+str(nyears)+'years.csv'), index_col=0).T

In [16]:
flData

,1,2,3,4,5,6,7,8,9,10,...,9973,9974,9975,9976,9977,9978,9979,9980,9981,9982
1,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
2,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
5,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
6,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
7,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
10,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
11,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
12,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
13,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
14,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
15,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
16,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
17,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
18,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
19,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [39]:
hwPath = rootPath/'hw/data/city_triggers'
hwData = pd.read_csv(hwPath/'triggerYears.csv', index_col=0)

# Set the actual years back to arbitrary years from 1 to 19
hwData.index=list(range(1,len(hwData.index)+1))

# Cap triggers at max of one per location per year and add a column with total no triggers across all locations per year
hwData[hwData>1]=1
hwData['allSites']=hwData.T.sum()

hw=hwData.allSites

hwData

,Jacobabad,Karachi_Jinnah_Airport,Lahore,Multan,Nawabshah,Sibi,allSites
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,1.0,1.0,0.0,0.0,3.0
3,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,1.0,1.0,1.0,0.0,0.0,3.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1.0,0.0,1.0,0.0,0.0,0.0,2.0
7,0.0,0.0,0.0,1.0,0.0,0.0,1.0
8,0.0,0.0,0.0,1.0,0.0,0.0,1.0
9,0.0,0.0,1.0,1.0,0.0,0.0,2.0
10,0.0,1.0,1.0,0.0,0.0,0.0,2.0
11,1.0,0.0,1.0,0.0,1.0,0.0,3.0
12,1.0,1.0,0.0,0.0,0.0,1.0,3.0
13,1.0,1.0,0.0,0.0,1.0,1.0,4.0
14,1.0,1.0,0.0,1.0,1.0,1.0,5.0
15,1.0,1.0,1.0,1.0,1.0,1.0,6.0
16,1.0,0.0,1.0,1.0,1.0,1.0,5.0
17,1.0,1.0,0.0,1.0,0.0,1.0,4.0
18,0.0,1.0,1.0,0.0,0.0,1.0,3.0
19,0.0,0.0,0.0,1.0,1.0,1.0,3.0

## Compute correlation in the trigger time series for the two perils
Compare the binary trigger / no trigger from flood with the number of locations triggered for heatwave. Repeat it for every realisation of the flood results, then take the median as the final result.

In [40]:
# Loop through the flood realisations
correlsResultData=pd.DataFrame(data=[], index=['FLRealisation','pearson-r','p']).T

for i in list(flData.columns):
    
    # Get the flood realisation
    fl=flData[i]
    
    # Compute Pearson correlation between hw and fl
    correlResult = list(pearsonr(hw, fl)) # (Pearson's correlation coefficient, 2-tailed p-value)
    
    # Record in dataframe
    correlResultData  = pd.DataFrame(data=[i] + correlResult, index=correlsResultData.columns).T
    correlsResultData = pd.concat(objs=[correlsResultData, correlResultData])

In [79]:
# Write out as csv
outPath=rootPath/'cross-peril'
outPath.mkdir(exist_ok=True)
correlsResultData.to_csv(outPath/'hwfl_correlation.csv', index=False)

## Summarize correlation results across the realisations

In [66]:
# Add median to pandas describe
stats=correlsResultData.describe()
medi = pd.DataFrame(correlsResultData.median()).T
medi.index=['median']
correlResultsSummary = pd.concat(objs=[stats, medi])
correlResultsSummary

        FLRealisation    pearson-r            p
count     9982.000000  9982.000000  9982.000000
mean      4991.500000     0.000443     0.484274
std       2881.699527     0.247948     0.295515
min          1.000000    -0.767004     0.000127
25%       2496.250000    -0.178193     0.234816
50%       4991.500000    -0.004678     0.465472
75%       7486.750000     0.179918     0.740640
max       9982.000000     0.759634     0.984836
median    4991.500000    -0.004678     0.465472

The high standard deviation indicates a large amount of uncertainty in the result. On average the statistical significance for each realisation is low.

## Check the results for the realisation which had the highest statistical significance
Take the top 10%ile for example

In [74]:
# Add median to pandas describe
quant=0.001
print(np.quantile(correlsResultData.p,quant))
correlsResultDataSub = correlsResultData[correlsResultData.p<=np.quantile(correlsResultData.p,quant)]
# correlsResultDataSub = correlsResultData[correlsResultData.p<=0.05]
stats=correlsResultDataSub.describe()
medi = pd.DataFrame(correlsResultDataSub.median()).T
medi.index=['median']
correlResultsSubSummary = pd.concat(objs=[stats, medi])
correlResultsSubSummary

0.0007234592455512623

        FLRealisation  pearson-r          p
count       13.000000  13.000000  13.000000
mean      4896.769231   0.164835   0.000414
std       1651.045535   0.744070   0.000243
min        504.000000  -0.767004   0.000127
25%       4510.000000  -0.724929   0.000177
50%       5112.000000   0.706379   0.000446
75%       5835.000000   0.736408   0.000723
max       7191.000000   0.759634   0.000723
median    5112.000000   0.706379   0.000446

The end median result is very sensitive to what threshold (or quantile) we use. It can flip from positive to negative. This is because choosing the most statistically significant results favors the results which have a strong magnitude signal i.e., strong positive, or strong negative. So we get a mix of +0.7 and -0.7. The median can just happen to be either a negative or positive, but always strong.

The random ordering might be causing issues. Should use sliding cross-correlation here?

But this also suggests that we should look at the mean. Each realisation can produce a potentially strong result (statistically significant and with a strong magnitude). Because our realisations represent all possible versions of reality. Maybe we need a different metric here, which looks at similarity rather than correlation? I.e., a metric that disregards the order

### Note
Since we have allowed up to 6 triggers for the heatwave model, this correlation describes the likelihood that having more activations in a heatwave season increases (or decreases) the likelihood of having a flood activation.

#### Does it make a difference to normalize the heatwave triggers to [0,1] by dividing by 6?

## Time-lagged cross correlation

In [116]:
# Function to compute cross correlation, from https://towardsdatascience.com/four-ways-to-quantify-synchrony-between-time-series-data-b99136c4a9c9
def crosscorr(datax, datay, lag=0, wrap=False):
    """ Lag-N cross correlation. 
    Shifted data filled with NaNs 
    
    Parameters
    ----------
    lag : int, default 0
    datax, datay : pandas.Series objects of equal length
    Returns
    ----------
    crosscorr : float
    """
    if wrap==True:
        shiftedy = datay.shift(lag)
        shiftedy.iloc[:lag] = datay.iloc[-lag:].values
        # corr=datax.corr(shiftedy)
        corr=list(pearsonr(datax, shiftedy))
        return corr
    else: 
        # corr=datax.corr(datay.shift(lag))
        corr=list(pearsonr(datax, datay.shift(lag)))
        return corr

In [113]:
shiftedy = fl.shift(19)
shiftedy.iloc[:19] = fl.iloc[-19:].values

In [114]:
shiftedy

1     1.0
2     0.0
3     0.0
4     1.0
5     0.0
6     1.0
7     0.0
8     0.0
9     1.0
10    0.0
11    0.0
12    1.0
13    0.0
14    0.0
15    0.0
16    1.0
17    0.0
18    0.0
19    1.0
Name: 9982, dtype: float64

In [119]:
fl

1     1.0
2     0.0
3     0.0
4     1.0
5     0.0
6     1.0
7     0.0
8     0.0
9     1.0
10    0.0
11    0.0
12    1.0
13    0.0
14    0.0
15    0.0
16    1.0
17    0.0
18    0.0
19    1.0
Name: 9982, dtype: float64

In [124]:
fl.iloc[-lag:].values

array([1., 0., 0., 1., 0., 1., 0., 0., 1., 0., 0., 1., 0., 0., 0., 1., 0.,
       0., 1.])

In [130]:
for lag in range(1,nyears):
    print(lag)
    # print(fl.shift(lag))
    # print(fl.iloc[-lag:].values)
    shiftedy = fl.shift(lag)
    shiftedy.iloc[:lag] = fl.iloc[-lag:].values
    print(shiftedy)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [135]:
rs = [crosscorr(hw, fl, lag, wrap=True) for lag in range(1,nyears+1)]

In [136]:
rs

[[-0.32179795146741913, 0.179102439946704],
 [-0.05304361837375042, 0.8292479934562442],
 [0.01414496489966673, 0.9541682777759721],
 [-0.25460936819400193, 0.2928295646112879],
 [0.014144964899666787, 0.9541682777759721],
 [-0.05304361837375046, 0.8292479934562442],
 [0.08133354817308397, 0.7406404441172996],
 [-0.25460936819400193, 0.2928295646112879],
 [0.21571071471991837, 0.37511360555761464],
 [0.081333548173084, 0.7406404441172996],
 [0.08133354817308391, 0.7406404441172996],
 [0.08133354817308398, 0.7406404441172996],
 [0.14852213144650117, 0.5439682850092471],
 [0.14852213144650114, 0.5439682850092471],
 [0.14852213144650114, 0.5439682850092471],
 [-0.053043618373750365, 0.8292479934562442],
 [0.14852213144650117, 0.5439682850092471],
 [-0.12023220164716766, 0.6239317131968393],
 [-0.05304361837375041, 0.8292479934562442]]

In [138]:
# Can either choose the lag with the highest r, or the lowest p value

In [137]:
np.argmax(rs)

5

In [ ]:
offset = np.floor(len(rs)/2)-np.argmax(rs)

In [103]:
list(pearsonr(hw, fl))

[-0.05304361837375041, 0.8292479934562442]

In [102]:
rs

[nan]

In [97]:
hw.corr(fl)

nan

In [98]:
hw

1     0.0
2     3.0
3     1.0
4     3.0
5     0.0
6     2.0
7     1.0
8     1.0
9     2.0
10    2.0
11    3.0
12    3.0
13    4.0
14    5.0
15    6.0
16    5.0
17    4.0
18    3.0
19    3.0
Name: allSites, dtype: float64

In [99]:
fl

1     1.0
2     0.0
3     0.0
4     1.0
5     0.0
6     1.0
7     0.0
8     0.0
9     1.0
10    0.0
11    0.0
12    1.0
13    0.0
14    0.0
15    0.0
16    1.0
17    0.0
18    0.0
19    1.0
Name: 9982, dtype: float64

In [94]:
fl.shift(0)

1     1.0
2     0.0
3     0.0
4     1.0
5     0.0
6     1.0
7     0.0
8     0.0
9     1.0
10    0.0
11    0.0
12    1.0
13    0.0
14    0.0
15    0.0
16    1.0
17    0.0
18    0.0
19    1.0
Name: 9982, dtype: float64

In [87]:
list(range(-19,19))

[-19,
 -18,
 -17,
 -16,
 -15,
 -14,
 -13,
 -12,
 -11,
 -10,
 -9,
 -8,
 -7,
 -6,
 -5,
 -4,
 -3,
 -2,
 -1,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18]

In [85]:
rs

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan]

In [82]:
fl

1     1.0
2     0.0
3     0.0
4     1.0
5     0.0
6     1.0
7     0.0
8     0.0
9     1.0
10    0.0
11    0.0
12    1.0
13    0.0
14    0.0
15    0.0
16    1.0
17    0.0
18    0.0
19    1.0
Name: 9982, dtype: float64

In [83]:
hw

1     0.0
2     3.0
3     1.0
4     3.0
5     0.0
6     2.0
7     1.0
8     1.0
9     2.0
10    2.0
11    3.0
12    3.0
13    4.0
14    5.0
15    6.0
16    5.0
17    4.0
18    3.0
19    3.0
Name: allSites, dtype: float64

In [ ]:
d1 = df['S1_Joy']
d2 = df['S2_Joy']
seconds = 5
fps = 30
rs = [crosscorr(d1,d2, lag) for lag in range(-int(seconds*fps),int(seconds*fps+1))]
offset = np.floor(len(rs)/2)-np.argmax(rs)